.terraform/
**/.terraform/
**/.terraform.lock.hcl
.terraform.lock.hcl
**/.terraform/
**/.terraform.lock.h**
*.tfstate
*.tfstate.*
*.tfstate

*.tfstate.*

*.tfplan

terraform.tfvars

crash.log

.vscode/

.idea/